<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<body>
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" th:href="@{/home/index}">
                    <img src="../img/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                    <div class="row w-100 mr-0">
                        <div class="col-lg-7 pr-0">
                            <ul class="nav navbar-nav center_nav pull-right">
                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/home/index}">Home</a>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/product/list}">Shop Category</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/cart/view}">Shopping Cart</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/more/blog}">Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/more/blog}">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/more/blog}">Contact</a>
                                </li>
                                <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}" class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/home/index}">Administration</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-5 pr-0">
                            <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                <li class="nav-item">
                                    <a th:href="@{/more/blog}" class="icons">
                                        <i class="ti-search" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li class="nav-item" >
                                    <a th:href="@{/cart/view}" class="icons" style="position: relative;">
                                        <i class="ti-shopping-cart"></i>
                                        <div class=" number-cart">{{cart.count}}</div>
                                    </a>
                                </li>

                                <li th:unless="${#request.remoteUser}" class="nav-item" title="Sign in">
                                    <a th:href="@{/security/login/form}" class="icons">
                                        <i class="ti-user" aria-hidden="true"></i>
                                    </a>
                                </li>
                                

                                <li th:if="${#request.remoteUser}" class="nav-item" title="Order history">
                                    <a th:href="@{/order/list}" class="icons">
                                        <i class="ti-truck" aria-hidden="true"></i>
                                    </a>
                                </li>
                                
                                <li th:if="${#request.remoteUser}" class="nav-item" title="Sign out">
                                    <a th:href="@{/security/logoff}" class="icons">
                                        <i class="ti-shift-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
</body>

</html>