<section class="cart_area pt-5">
	<div class="container p-0">
		<div class="cart_inner">
			<div class="table-responsive billing_details">
			<h3>List Product</h3>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Name</th>
						</tr>
					</thead>
					<tbody>
						<tr >
							<td>
								<div class="media">
									<div class="media-body">
										<h5>1</h5>
									</div>
								</div>
							</td>
							<td>
								<h5>2</h5>
							</td>
							<td>
								<a ng-click="edit(item)" title="Edit this" class="hover_display" style="padding: 4px;"><i class="ti-pencil-alt"></i></a>
								<a ng-click="delete(item)" title="Remove this" class="hover_display" style="padding: 4px;"><i class="ti-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>